body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #373737;
    border-radius: 10px;
    height: 700px;
    width: 1000px;
    background-color: #a8a8a8b8;
}

.header {
    font-size: 50px;
    font-weight: 900;
}

.select {
    font-size: 25px;
    font-weight: 450;
    margin-top: 20px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    border: 5px solid #373737;
    background-color: #eaeaea;
    margin: 25px;
    padding: 40px 40px;
    border-radius: 10px;
    height: 110px;
    width: 190px;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 700px;
    font-size: 20px;
    font-weight: 550;
}

.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 550;
}

#result {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}

#finalResult {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 900;
}

.replay-btn {
    font-size: 100px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}